/* BetterEmbed Feed */
$betterembed-content-margin: 15px;
$betterembed-color-primary: #4c5559;
$betterembedShowOriginalSize: 30px;

$socialnetworks: (
  facebook: #306199,
  linkedin: #007bb6,
  twitter: #26c4f1,
  googleplus: #e93f2e,
  youtube: #df1c31,
  pinterest: #b81621,
  pocket: #ed4054,
  github: #444,
  instagram: #125688,
  hackernews: #ff6600,
  delicious: #0b79e5,
  vk: #4d71a9,
  print: #8d98a2,
  whatsapp: #43d854,
  xing: #126567,
  addthis: #ff5c3e,
  tumblr: #35465c,
  flattr: #f67c1a,
  diaspora: #bbbbbb,
  reddit: #ff4500,
  stumbleupon: #ff2b25,
);

/* breaks Words when they are too long and would burst the layout. */
@mixin word-wrap() {
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-invisible() {
  text-indent: -9999em;
}

// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
@mixin element-invisible() {
  position: absolute !important;
  left: 0;
  top: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.betterembed {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: relative; //for iframe switcher
  // we define a max width and align it centered as a default.
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;

  &__wrapper {
    &.is-betterembed-msg-visible {
      .betterembed {
        &__msg {
          display: block;
        }

        &__show-original-element {
          background-position: center right;
        }
      }
    }

    &.is-betterembed-remote-visible {
      & .betterembed__embed {
        display: block;
      }

      & .betterembed__item {
        display: none;
      }
    }
  }

  &__show-original-element {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-image: url("../img/betterembed-logo.png");
    background-repeat: none;
    background-position: center right;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    height: $betterembedShowOriginalSize;
    //width: $betterembedShowOriginalSize;
    padding-right: $betterembedShowOriginalSize;
    display: block;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }

  @each $social, $color in $socialnetworks {
    &__type-#{$social} {
      .betterembed {
        &__network {
          color: #{$color};
        }
        &__body {
          background-color: #{$color};
        }
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__item {
    overflow: hidden; // prevent overflowing if unexpected things happening
  }

  &__network {
    @include word-wrap();
    padding-right: $betterembedShowOriginalSize; //for show iframe element
    margin: 0 0 10px 0;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: $betterembed-color-primary;
  }
  &__media {
    img {
      width: 100%;
      height: auto;
    }
    a {
      border: none;
      &:hover {
        border: none;
      }
    }
  }
  &__title {
    clear: both;
    padding: 0 $betterembed-content-margin;
    margin: $betterembed-content-margin 0 0 0;
    @include word-wrap;
    font-size: 22px;
  }
  &__text {
    clear: both;
    padding: $betterembed-content-margin;
    @include word-wrap;
    font-size: 18px;
    a {
      color: #fff;
      font-weight: inherit; /* could be removed */
      text-decoration: underline;
    }
  }
  &__read-more {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
  }
  &__body {
    background: $betterembed-color-primary;
    color: #fff;
    font-size: 20px;
    position: relative;
  }
  &__msg {
    display: none;
    font-size: 16px;
    position: absolute;
    padding: 20px;
    top: 15px;
    left: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    text-align: center;
    z-index: 5;
    p {
      margin: 0;
    }
    a {
      &:hover {
        border: none;
      }
    }
    &-button-primary {
      display: inline-flex;
      margin-top: 20px;
      background-color: white;
      padding: 10px 20px;
      color: black;
      border: none;
    }
    &-button-secondary {
      display: inline-flex;
      margin-top: 20px;
      padding: 10px 20px;
      color: white;
      border: none;
    }
  }
  &__footer {
    margin: 0 $betterembed-content-margin;
    padding: $betterembed-content-margin 0;
    border-top: 1px solid #fff;
    font-size: 16px;
    overflow: auto;
  }
  &__author {
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // the original embed or iframe content
  &__embed {
    //needed for e.g. Twitter Markup and that the show/hide icon is not inside of the component.
    display: none;
    padding-top: $betterembedShowOriginalSize;
    > * {
      //some adoptions to make iframes more responsive
      //e.g. for twitter embed if it is under 250px
      width: 100% !important;
      overflow-x: none;
      margin: 0;
      padding: 0;
    }
    & * {

    }
  }
}

//hacks for making some embedded services responsive
//todo: check if it still works :)
.betterembed__embed {
  //e.g. for facebook
  iframe {
    width: 100% !important;
  }
  .fb-post > span {
    width: 100% !important;
  }
}

.betterembed--play {
  .betterembed {
    &__media {
      position: relative;
      &:hover {
        > *:after {
          opacity: 1;
        }
      }
      figure { //why is it a figure?
        line-height: 0;
      }
      & > *:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        background: image-url("../icons/icon-play.svg") no-repeat center center; //url encode with https://yoksel.github.io/url-encoder/
        background-size: 20% auto;
        height: 100%;
        cursor: pointer;
        z-index: 1;
        opacity: .8;
      }
    }
  }
}