.betterembed__cover {
  .betterembed {
    &__media {
      position: relative;

      a {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;

        > span {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          padding: 20px;
          line-height: 100%;
          font-size: 16px;
          background-color: rgba(148, 24, 74, 0.6);
          transition: visibility 0s, opacity 0.3s linear;
        }

        &:before,
        &:after {
          position: absolute;
          left: 0;
          right: 0;
          opacity: 0.8;
          height: 50%;
          transition: all 0.3s 0s ease-in-out;
        }

        &:before {
          content: "";
          background: url("../img/icon-show.svg") no-repeat center bottom;
          background-size: 15% auto;
          top: 0;
        }

        &:after {
          content: "show";
          text-align: center;
          color: #fff;
          font-size: 20px;
          bottom: 0;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.6);

          > span {
            visibility: visible;
            opacity: 1;
          }
        }

        &:hover:before {
          opacity: 0.9;
          height: 45%;
        }

        &:hover:after {
          opacity: 0.9;
          height: 55%;
        }
      }

      > img {
        display: block;
      }

      //hacks for making some embedded services responsive
      //todo: check if it still works :)
      //e.g. for facebook
      iframe {
        width: 100% !important;
      }
      .fb-post > span {
        width: 100% !important;
      }

    }
  }
}
