.betterembed__cover .betterembed__media {
  position: relative;
}
.betterembed__cover .betterembed__media a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.betterembed__cover .betterembed__media a > span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  line-height: 100%;
  font-size: 16px;
  background-color: rgba(148, 24, 74, 0.6);
  transition: visibility 0s, opacity 0.3s linear;
}
.betterembed__cover .betterembed__media a:before, .betterembed__cover .betterembed__media a:after {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.8;
  height: 50%;
  transition: all 0.3s 0s ease-in-out;
}
.betterembed__cover .betterembed__media a:before {
  content: "";
  background: url("../img/icon-show.svg") no-repeat center bottom;
  background-size: 15% auto;
  top: 0;
}
.betterembed__cover .betterembed__media a:after {
  content: "show";
  text-align: center;
  color: #fff;
  font-size: 20px;
  bottom: 0;
}
.betterembed__cover .betterembed__media a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.betterembed__cover .betterembed__media a:hover > span {
  visibility: visible;
  opacity: 1;
}
.betterembed__cover .betterembed__media a:hover:before {
  opacity: 0.9;
  height: 45%;
}
.betterembed__cover .betterembed__media a:hover:after {
  opacity: 0.9;
  height: 55%;
}
.betterembed__cover .betterembed__media > img {
  display: block;
}
.betterembed__cover .betterembed__media iframe {
  width: 100% !important;
}
.betterembed__cover .betterembed__media .fb-post > span {
  width: 100% !important;
}
