{#
/**
 * @file betterembed.html.twig
 * Default theme implementation to present BetterEmbed Entity data.
 *
 * This template is used when viewing BetterEmbed Entities.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_betterembed()
 *
 * @ingroup themeable
 */
#}
{% set entity = elements['#betterembed'] %}

<div{{ attributes.addClass('betterembed').setAttribute('data-betterembed-id', entity.id()).setAttribute('data-betterembed-type', 'local') }}>
  <div class="social-feed-item social-feed-item--{{ entity.field_item_type.value|clean_class }} {{ "is-" ~ content.betterembed_skin|clean_class }}">
    <div class="social-feed-item__network">{{ content.field_item_type }}</div>
    <div class="social-feed-item__body">
      {%  if entity.field_title.value is not empty %}
        <div class="social-feed-item__title">
          {{ content.field_title }}
        </div>
      {% endif %}
      {%  if entity.field_thumbnail.value is not empty %}
        <div class="social-feed-item__media">
          {{ content.field_thumbnail }}
        </div>
      {% endif %}
      {%  if entity.field_body.value is not empty %}
        <div class="social-feed-item__text">
          {{ content.field_body }}
        </div>
      {% endif %}
      {%  if entity.field_author_name.value is not empty or entity.field_published_at.value is not empty%}
        <footer class="social-feed-item__footer">
          {%  if entity.field_author_name.value is not empty %}
            {%  if entity.field_author_url.value is not empty %}
              <a class="social-feed-item__author-name" href="{{ content.field_author_url[0]['#url'] }}" target="_blank">
            {%  endif %}
                {{ content.field_author_name }}
            {%  if entity.field_author_url.value is not empty %}
              </a>
            {%  endif %}
          {% endif %}
          {%  if entity.field_published_at.value is not empty %}
            {{ content.field_published_at }}
          {% endif %}
        </footer>
      {% endif %}
    </div>
  </div>
</div>

{% set embed_attributes = create_attribute() %}

{% if entity.field_embed_html.value is not empty %}
  <div {{ embed_attributes.setAttribute('data-betterembed-id', entity.id()).setAttribute('data-betterembed-type', 'remote') }}><a >show iframe</a></div>
{% endif %}
<div {{ embed_attributes.setAttribute('data-betterembed-id', entity.id()).setAttribute('data-betterembed-type', 'remote') }}><a >show iframe</a></div>
