<article class="betterembed betterembed__cover">
  <div class="js-betterembed-wrapper">

    {% if elements.field_betterembed_media_image[0] is not empty %}

      <div class="betterembed__media">
        {% if elements.field_embed_html[0]['#text'] is not empty %}
          <a class="js-betterembed-load-remote" data-beitemlink="/betterembed/{{ elements['#media'].id() }}" href="javascript:;">
            <span>With a click on the link above, the original content will be loaded. This can include remote content and you can possibly be tracked from the original provider</span>
          </a>
        {% endif %}
        {{ elements.field_betterembed_media_image[0] }}
      </div>

    {% else %}

      <h4 class="timeline__item-heading">{{ elements.field_title[0]['#context'].value }}</h4>
      <div class="timeline__item-body">{{ elements.field_body[0]['#context'].value }}</div>

    {% endif %}

  </div>
</article>
