{#
/**
 * @file media-betterembed.html.twig
 * Default theme implementation to present BetterEmbed Entity data.
 *
 * This template is used when viewing BetterEmbed Entities.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_betterembed()
 *
 * @ingroup themeable
 */
#}

<article class="betterembed {{ attributes['custom-image-link-class'] }}">

  <div class="betterembed__wrapper js-betterembed-wrapper">

    {% if elements.field_embed_html[0]['#text'] is not empty %}
    <button type="button" class="betterembed__show-original-element js-betterembed-show-message js-show-hide-text"></button>
    {% endif %}

    <div class="betterembed__item betterembed__type-{{ elements.field_item_type[0]['#context'].value|clean_class }}">
      <header>
        <h3 class="betterembed__network">{{ elements.field_item_type[0]['#context'].value }}</h3>
      </header>
      <div class="betterembed__body">
        <div class="betterembed__msg">
          <p>
            With a click on the link below, the original content will be loaded. This can include remote content and you can possibly be tracked from the original provider</p>
          <a class="betterembed__msg-button-primary js-betterembed-load-remote" data-beitemlink="/betterembed/{{ elements['#media'].id() }}" href="javascript:;">show original content</a>
          <a href="javascript:;" class="betterembed__msg-button-secondary js-betterembed-close">close</a>
        </div>

        {% if elements.field_thumbnail_url is not empty %}
        <div class="betterembed__media">
          {% if attributes['custom-image-link-class'] is not empty %}
          <a href="javascript:;" class="js-betterembed-show-message" rel="nofollow noopener">
          {% elseif elements.field_url[0]['#title'] is not empty %}
          <a href="{{ elements.field_url[0]['#title'] }}" target="_blank" rel="nofollow noopener">
          {% endif %}
          {{ elements.field_thumbnail_url[0] }}
          {% if attributes['custom-image-link-class'] is not empty or elements.field_url[0]['#title'] is not empty %}
          </a>
          {% endif %}
        </div>
        {% endif %}

        {% if elements.field_title[0]['#context'].value is not empty %}
        <h3 class="betterembed__title">
           {{ elements.field_title[0]['#context'].value }}
        </h3>
        {% endif %}

        {% if elements.field_body[0]['#context'].value is not empty %}
        <div class="betterembed__text">
          {{ elements.field_body[0]['#context'].value }}
          {% if elements.field_url[0]['#title'] is not empty %}
          <a class="betterembed__link" href="{{ elements.field_url[0]['#title'] }}" rel="nofollow noopener"
             target="_blank">Details</a>
          {% endif %}
        </div>
        {% endif %}

        {% if elements.field_author_name[0]['#context'].value is not empty or elements.field_published_at[0]['#text'] is not empty %}
        <footer class="betterembed__footer">
              {% if elements.field_author_name[0]['#context'].value is not empty %}
              <span class="betterembed__author">
                {% if elements.field_author_url[0]['#url'] is not empty %}
                <a href="{{ elements.field_author_url[0]['#url'] }}" target="_blank" rel="nofollow noopener">
                {% endif %}
                  by {{ elements.field_author_name[0]['#context'].value }}
                {% if elements.field_author_url[0]['#url'] is not empty %}
                </a>
                {% endif %}
              </span>
              {% endif %}
          {% if elements.field_published_at[0]['#text'] is not empty %}
          <span>on {{ elements.field_published_at[0]['#text'] }}</span>
          {% endif %}
        </footer>
        {% endif %}

      </div>
    </div>
    <div class="betterembed__embed"></div>

  </div>
</article>

{% set embed_attributes = create_attribute() %}
